spring:
  application:
    name: backend
  datasource:
    url: "${DB_URL}"
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      database: 0
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 5MB

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
uploads: ${DIR_UPLOAD}
